*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  --header-height: 80px;
  --footer-height: 50px;
  --filter-area-height: 60px;
}
